CompileFlags:
  CompilationDatabase: build
  Add: [
    -imsvc../.venv/Lib/site-packages/pybind11/include
  ]
  # this file shows clangd where the includes are so that, 
  # the adds are relative to the compile commands